# Django settings
DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1

# Database settings (Postgres + django-tenants)
DJANGO_DB_ENGINE=django_tenants.postgresql_backend
DJANGO_DB_NAME=postgres
DJANGO_DB_USER=postgres
DJANGO_DB_PASSWORD=postgres
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=5432
